.pajaro {
 width: 81px;
  height: 33px;
 z-index: 10;
 position: absolute;
  top: 540px; 
  left: 650px;
 background: url('../images/pajaro.png') ;
 animation: pajaro .500s steps(3) infinite;
 transform: scaleX(-1.5);

}

@keyframes pajaro {
	100% { background-position: -245px; }
}


.roca {
  width: 128px;
  height: 92px;
  position: absolute;
  top: 54px; 
  left: 850px;
  background-image: url('../images/roca.png');
  animation: roca .8s steps(6) infinite;
 transform: scale(0.4);
}


@keyframes roca {
 100%{background-position: -727px;}
}

#moneda {
 width: 116px;
 height: 113px;
 position: absolute;
  top: 30px; 
  left: 600px;
 background: url('../images/moneda.png') left center;
 animation: moneda .8s steps(6) infinite;
 transform: scale(0.3);
}

@keyframes moneda {
 100%{background-position: -700px;}
}


.pajaroMuerto {
  width: 118px;
  height: 100px;
  background-image: url('../images/explosion.png');
  animation: pajaroMuerto 0.8s steps(4);
  animation-iteration-count: 0.9;
  animation-fill-mode: forwards;
}

@keyframes pajaroMuerto {
	100% { background-position: 437px; }
}

.pajaroChocado {
  width: 192px;
  height: 140px;
  background-image: url('../images/choque.png');
  animation: pajaroChocado 0.8s steps(5);
  animation-iteration-count: 0.5;
  animation-fill-mode: forwards;
}

@keyframes pajaroChocado {
  100% { background-position: -960px; }
}